body, html {
    font-family: Open Sans, sans-serif;
    margin: 0;
    color: #34495e;
    text-align: center;
    background-color: #ecf0f1;
}

.hidden {
    display: none;
}

h4 {
    font-weight: 400;
}

a {
    color: #1abc9c;
    text-decoration: none;
    cursor: pointer;
}
a:hover {
    color: #16a085;
}

main {
    width: 50rem;
    margin: 0 auto 10rem;
}

nav {
    margin: 4rem 0 2rem;
}
nav a {
    cursor: pointer;
    margin: 0 1rem;
}
footer {
    /*margin-top: 4rem;*/
}
#about {
    width: 60%;
    margin: auto;
}

#risk_buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
}
button {
    background-color: #dde4e4;
    color: #34495e;
    padding: 1.5rem 3rem;
    font-family: Open Sans, sans-serif;
    font-size: 1.2rem;
    border-radius: 1rem;
    border: none;
}
button:hover {
    background-color: #d4dede;
    cursor: pointer;
}
#overall_button {
    grid-column-end: span 2;
}
button.pressed {
    background-color: #bcd1d1;
}

#other_risks table {
    width: 100%;
    border-collapse: collapse;
    border-style: hidden;
    margin: 1rem auto;
}
#other_risks table td, #other_risks table th {
    border: 1px solid #d4dede;
    padding: 0.5rem;
}
#other_risks thead {
    background-color: #dde4e4;
}

.wheel {
    width: 80%;
    height: 40rem;
    border-radius: 50%;
    background-color: #bcd1d1;
    background-size: cover;
    border: none;
    margin: auto;
}

.wheel_container {
    margin: 4rem auto;
    width: 100%;
    overflow: hidden;
}

.pointer {
    width: 0; 
    height: 0; 
    border-left: 1rem solid transparent;
    border-right: 1rem solid transparent;
    border-top: 4rem solid #34495e;
    position: absolute;
    z-index: 2;
    margin: -2rem auto 0;
    left: 0;
    right: 0;
    text-align: center;
    transform-origin: 50% 0%;
}

.wheel_image {
    width: 20rem;
    height: 20rem;
    margin: 10rem;
    opacity: 1.0;
}

.spin_button {
    margin: 1rem;
}

.result, .risk_section {
    padding-top: 2rem;
}
.result p, footer p {
    text-align: justify;
}
.result li {
    text-align: left;
}
.result h2, footer h2 {
    margin-top: 4rem;
}
.result_text {
    font-size: 1.5rem;
    margin: 0 0 4rem;
}
.chart_footer {
    display: flex;
    justify-content: space-between;
}
.chart_footer p {
    font-size: 0.8rem;
}
p.source {
    text-align: right;
    font-size: 0.8rem;
}


@media screen and (max-width: 50rem) {
    main {
        width: 100%;
    }
    button {
        padding: 1rem 2rem;
        font-size: 1rem;
    }
    section, header, footer {
        padding: 0 1rem;
    }
    h1 {
        font-size: 1.5rem;
    }
    #other_risks table {
        font-size: 0.7rem;
    }
    #risk_buttons {
        grid-template-columns: 1fr;
    }
    #overall_button {
        grid-column-end: span 1;
    }
    nav a {
        display: block;
        padding: 0.5rem;
    }
    #about {
        width: inherit;
    }
    .pointer {
        border-left: 0.8rem solid transparent;
        border-right: 0.8rem solid transparent;
        border-top: 3.2rem solid #34495e;
        margin-top: -1.6rem;
    }
}
